
.new-enrollment-bg-container {
    display: flex;
    
}

.new-enrollment-container {
    padding: 20px;
    
    min-width: 1000px;
    flex-grow: 1;
}

form{
    border: 1px solid black;
    height: 100%;
}

form h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-bottom: 1px solid black;
    font-weight: bold;
}


.clinic-container{
    position: relative;
    left: 100px;
    
    padding: 15px;
    
}


.clinics-label{
    display: inline-block;
    width: 200px;
    text-align: right;
    
    margin-right: 20px;
    color: black;
    font-weight: bold;
}

sup {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

select{
    width: 300px;
    border-radius: 7px;
    padding: 8px;
    font-size: 18px;
}

option {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.individual-clinic-containers {
    margin-bottom: 20px;
}

.patient-details-container {
    display: flex;
    /* position: relative; */
    left: 50px;

}

.patient-details-heading{
    border: none;
}

.patient-form-container {
    border: 2px solid rgba(206, 205, 204, 0.886);
    height: 500px;
    width: 950px;
    padding: 15px;
}

.names-label {
    display: inline-block;
    
    
    margin-left: 15px;
    margin-right: 20px;
    color: black;
    font-weight: bold;
}

.names-container {
    display: flex;
    
    
    margin-top: 20px;
}

.names-container div{
    display: flex;
}

.names-input {
    width: 150px;
    padding: 9px;
    border-radius: 3px;
    font-size: 18px;
}

.individual-names-container {
    display: flex;
    align-items: center;
    
}

.date-container {
    position: relative;
    top: 20px;
}

.gender-pacemaker-icd-container {
    display: flex;
    position: relative;
    top: 30px;
}



.gender-container{
   
    top :40px;
    left: 20px;
    display: flex;
    align-items: center;
    width: 250px;
    
    justify-content: space-between;
    margin-right: 15px;
}
.individual-gender-container input{
    margin-right: 10px;
}

.pacemaker-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 360px;
}

.radio-buttons-container  {
    display: flex;
    justify-content: space-between;
}

.radio-buttons-container div{
    display: flex;
    justify-content: space-between;
    
    margin-right: 10px;
    width: 50px;
}

.ICD-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    
}
.address-container {
    position: relative;
    top: 40px;
    left: 20px;
    margin-top: 20px;
}

.address-input {
    position: relative;
    left: 20px;
    width: 500px;
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
}

.city-state-zip-container {
    position: relative;
    top: 50px;
    left: 20px;
}

.city-input {
    width: 200px;
    padding: 8px;
    border-radius: 3px;
    font-size: 16px;
}

.city-state-zip-container {
    width: 900px;
    display: flex;
    justify-content: space-between;
    
}

.zip-input{
    width: 120px;
    border-radius: 5px;
    padding: 8px;
}

.phone-numbers-container {
    position: relative;
    top: 60px;
    display: flex;
    justify-content: space-between;
    
}



.primary-phone {
    width: 100px;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}

.mobile-select-container {
    width: 130px;
    margin-left: 15px;
}

.emergency-contact-info {
    position: relative;
   top: 130px;
    left: 20px;
    
    display: flex;
    justify-content: space-between;
    width: 280px;

    
    
}

.emergency-contact-info p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

.emergency-contact-info button{
    width: 35px;
}

.providers-container {
    margin-top: 20px;
}

.order-provider-container {
    margin-bottom: 20px;
}

.rf-input {
    width: 150px;
    padding: 7px;
    border-radius: 7px;
}

.save-button-container{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.save-button {
    
    padding: 8px;
    border-radius: 6px;
    background-color: blue;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}